@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100vh;
	background: linear-gradient(120.81deg, #6c3d3d 0%, #000000 25.26%);
}
body {
}

.hero {
	&__intro {
		background: linear-gradient(
			101.99deg,
			#c04343 0%,
			rgba(207, 80, 80, 0.809611) 10.12%,
			rgba(209, 82, 82, 0.780342) 15.12%,
			rgba(212, 84, 84, 0.749272) 20.43%,
			rgba(217, 89, 89, 0.681747) 26.18%,
			rgba(234, 123, 123, 0.754535) 32.08%,
			rgba(244, 144, 144, 0.799305) 38.41%,
			rgba(255, 167, 167, 0.846504) 44.43%,
			rgba(251, 161, 161, 0.795615) 51.48%,
			rgba(245, 151, 151, 0.713043) 58.34%,
			rgba(237, 138, 138, 0.6015) 65.97%,
			rgba(192, 67, 67, 0) 80.82%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}

.header {
	position: relative;
	background: transparent;
	&__wrapper {
		display: flex;

		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		background: linear-gradient(
			98.95deg,
			#c04343 19.36%,
			rgba(255, 167, 167, 0.846504) 105.78%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 4rem;
	}

	&__container-links {
		position: relative;
		display: flex;

		:not(:last-child) {
			margin-right: 4rem;
		}

		a li {
			list-style: none;
			color: white;
			transition: transform 150ms ease-in-out;

			&:hover {
				color: #dc143c;
				transform: scale(1.2) translateY(-3px);
			}
		}
	}
}
